*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.home{
  padding: 2rem;
}

.home__gen{
  font-size: 2rem;
  text-align: center;
}

.home__container{
  padding: .5rem;
  border: 1px solid black;
  min-height: 15rem;
}

.home__title{
  margin-bottom: .5rem;
}

.home__description{
  margin-bottom: 1rem;
}

.home__group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  justify-items: center;
}

.home__link{
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.home__groupButton1{
  font-size: 3rem;
  cursor: pointer;
}

.list{
  margin-top: 3rem;
  padding: .5rem;
  border: 1px solid black;
}

.list__container{
  border: 1px solid black;
  padding: .5rem;
  margin-bottom: .4rem;
}